language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

env:
  - TRANSPORT=jackrabbit
  - TRANSPORT=doctrine_dbal

before_script:
  - composer self-update
  - app/console doctrine:phpcr:workspace:create seven_manager -e=test
  - app/console doctrine:phpcr:repository:init -e=test
