imports:
    - { resource: config_dev.yml }

parameters:
    phpcr_workspace: seven_manager_dev

framework:
    test: ~
    session:
        storage_id: session.storage.filesystem
    profiler:
        collect: false

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true
